.header {
  background-color: $header-background;
  letter-spacing: 0.02em;

  &__container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: $desktop-width;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    overflow: hidden;

    @media screen and (max-width: $tablet-media) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: $mobile-media) {
      grid-template-columns: 1fr;
      padding: 0;
    }
  }

  &__menu-button {
    padding: 40px 0 0;
    margin: 0;
    border: none;
    display: flex;
    width: 237px;
    height: 48px;
    align-items: center;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
    flex-shrink: 0;
    align-self: start;
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    @media screen and (max-width: $mobile-media) {
      padding: 28px 20px 0;
      height: 24px;
    }
  }

  &__menu-icon {
    margin-right: 18px;

    @media screen and (max-width: $mobile-media) {
      width: 24px;
      margin-right: 16px;
    }
  }

  &__menu-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    @media screen and (max-width: $mobile-media) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__image {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-left: 5px;
    margin-bottom: -30px;

    @media screen and (max-width: $tablet-media) {
      grid-column: 1 / 3;
      position: relative;
      right: 23px;
      margin-bottom: 0px;
    }

    @media screen and (max-width: $mobile-media) {
      grid-column: 1 / 2;
      right: 0px;
      padding-left: 0;
      margin-bottom: 0px;
    }
  }

  &__main-container {
    width: 100%;
    z-index: 1;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-bottom: 8px;

    @media screen and (max-width: $tablet-media) {
      grid-column: 2 / 4;
      padding-bottom: 0;
      padding-top: 20px;
    }

    @media screen and (max-width: $mobile-media) {
      box-sizing: border-box;
      grid-column: 1 / 2;
      padding: 0 20px;
    }
  }

  &__title {
    font-size: 48px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 0 0 32px;

    @media screen and (max-width: $tablet-media) {
      line-height: 40px;
      font-size: 32px;
    }

    @media screen and (max-width: $mobile-media) {
      line-height: 32px;
      font-size: 24px;
      margin: 0 0 30px;
    }
  }

  &__subscribe-button {
    background-color: $black-color;
    width: 100%;
    max-width: 350px;
    height: 48px;
    border: 0.5px;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      background-color: #e7e7e2;
      border-bottom: black;
      border-style: solid;
    }
  }

  &__subscribe-text {
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $white-color;
    text-transform: uppercase;

    &:hover {
      color: black;
    }

    @media screen and (max-width: $tablet-media) {
      line-height: 20px;
      font-size: 14px;
    }
  }
}
